.tasks-container {
    padding: 16px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 3px;
    width: 100%;
    display: inline-block;
    .task-summary {
        .sub-text {
            font-size: 12px;
            margin-top: 5px
        }
    }
}
.failure {
    background-color: #ffeef0;
}
.success {
    background-color: rgba(92, 184, 92, 0.2);
}
.started, .received {
    background-color: rgba(51, 115, 170, 0.2);
}
.pending {
    background-color: rgba(253, 164, 41, 0.2);
}
.retry {
    background-color: rgba(51, 115, 170, 0.2);
}
.revoked {
    background-color: rgba(119, 119, 119, 0.2);
}
