version: '3'

services:
  web:
    image: openconceptlab/oclweb2:${TAG-dev}
    build:
      context: .
      target: build
      args:
        NODE_ENV: development
        SOURCE_MAPS: false
    ports:
      - "4000:4000"
      - "4001:35729"
      - "6006:6006"
    restart: on-failure
    volumes:
      - .:/app:z
