.content {
    margin-top: 65px;
    margin-bottom: 50px;
    display: inline-block;
    width: calc(100% - 55px);
    height: auto;
    margin-left: 55px;
    &.menu-open {
        width: calc(100% - 250px) !important;
        margin-left: 250px !important;
    }
}
.search-input input {
    height: 0.3em;
}

.brand {
    font-size: 2rem !important;
    font-weight: bold !important;
}

.search-resources {
    .active {
        background-color: rgb(51, 115, 170);
        color: #FFF;
    }
    th {
        padding: 8px;
        cursor: pointer;
    }
}

.no-anchor-styles {
    color: inherit;
}
.no-anchor-styles:hover, .no-anchor-styles:focus {
    color: inherit;
    text-decoration: none;
}

.no-side-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-left-padding {
    padding-left: 0 !important;
}

.no-right-padding {
    padding-right: 0 !important;
}

span.resource-label {
    height: 25px;
    padding: 0 4px;
    color: #666;
    background-color: #eee;
    font-weight: 400;
    letter-spacing: -0.1pt;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em 0 0 .25em;
    font-size: 13px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    span {
        padding: 0 2px;
    }
    &.resource-id {
        background-color: rgb(51, 115, 170);
        color: #fff;
        border-radius: 0 .25em .25em 0;
    }
    &.orange {
        background-color: rgb(253, 164, 41);
    }
    &.green {
        background-color: rgb(92, 184, 92);
    }
    .resource-name {
        font-weight: bold;
        color: #000;
    }
}
.bg-orange {
    background-color: rgb(253, 164, 41) !important;
}
.bg-green {
    background-color: rgb(92, 184, 92) !important;
}
.bg-blue {
    background-color: rgb(51, 115, 170) !important;
}
div.resource-attributes {
    font-size: 13px;
    margin: 4px 0;
    span.resource-attr {
        font-weight: 300;
        font-style: italic;
    }
    span {
        margin-right: 2px;
        &.resource-value {
            margin-right: 5px;
        }
    }
}
div.resource-metadata {
    color: #777;
    display: inline-flex;
    font-size: 8pt;
}
.pagination ul {
    display: inline-flex;
}

.search-results {
    table {
        thead th {
            font-weight: bold;
            padding: 2px 5px;
            font-size: 13px;
            height: 40px;
        }
        tbody td {
            padding: 2px 5px;
            font-size: 13px;
        }
    }
}
td.pagination-center {
    padding: 10px;
    ul {
        display: inline-flex;
    }
}
.table-sort-label-white {
    svg {
        color: #FFF !important;
    }
}
.flex-vertical-center {
    display: inline-flex;
    align-items: center;
}
.flex-vertical-start {
    display: inline-flex;
    align-items: flex-start;
}
.ellipsis-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 500px;
}
.ellipsis-text-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.ellipsis-text-3 {
    text-overflow: ellipsis;
    overflow: hidden;
}
.gray-italics {
    color: gray;
    font-style: italic;
    margin-right: 5px;
}
.gray-italics-small {
    color: gray;
    font-style: italic;
    margin-right: 5px;
    font-size: 12px;
}
.italic {
    font-style: italic;
}
.home-icon {
    color: #e5e5e5;
    cursor: pointer;
    &.concept {
        justify-content: center;
        height: 110px;
        color: rgb(51, 115, 170);
    }
    &.mapping {
        justify-content: center;
        height: 110px;
        color: rgb(51, 115, 170);
    }
    &.source {
        color: rgb(92, 184, 92);
    }
    &.collection {
        color: rgb(92, 184, 92);
    }
    &.org {
        color: rgb(253, 164, 41);
    }
    &.user {
        width: 48px;
        color: rgb(253, 164, 41);
    }
    .default-svg {
        width: 60px;
        height: 60px;
    }
}
.home-header {
    background-color: #fafbfc;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
}
span.separator {
    font-size: 18pt;
    padding: 0 10px
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.sub-tab {

    span[class^="TabIndicator-root"] {
        display: none;
    }

    &-header {
        margin-left: -1px;

        button,a {
            opacity: 1;
            margin-right: 8px;
            border-radius: 6px 6px 0 0;
            text-transform: capitalize;
            border-bottom: 1px solid #e0e0e0;
            span {
                font-size: 1.150rem;
                color: rgb(51, 115, 170);
            }
        }

        a[aria-selected="true"],button[aria-selected="true"]{
            border-bottom: 1px solid #fff !important;
            border: 1px solid #e0e0e0;

            & span {
                color: #555;
            }
        }
        a:hover,a:focus {
            text-decoration: none !important;
            color: inherit !important;
        }
    }

    &-container {
        padding: 10px;
        box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 4px 4px;
    }
}

.light-gray-bg {
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%) !important;
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8)) !important;
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0) !important;
    background-repeat: repeat-x !important;
    color: #000 !important;
}
div.bottom-fixed-center {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    background: white;
    border-top: 1px solid lightgray;
}
.retired-red {
    color: #c33 !important;
}
.retired {
    text-decoration: line-through;
    color: #c33;
    text-decoration-color: black;
}
.text-muted {
    color: #777;
}
.small {
    font-size: 85%;
}

.this-concept {
    padding: 0 15px !important;
    font-weight: 500;
}

.home-resource-full-name {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 7px;
}
.clickable {
    cursor: pointer !important;
}
.search-resources {
    padding: 0;
    padding-bottom: 5px;
    border-radius: 5px;
}
div.login-paper {
    padding: 10px;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid #dca7a7;
    border-radius: 4px;
}
.less-paded-accordian-header {
    height: 40px !important;
    min-height: 40px !important;
}
.material-tab {
    span {
        flex-direction: row;
        display: flex;
        align-items: center;
    }
}
.material-tab:hover {
    background-color: rgba(32,33,36,0.059);
}
.resource-count-bubble {
    display: inline-block;
    min-width: 20px;
    padding: 0 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #000;
    text-align: center;
    background-color: rgb(232, 234, 236);
    border: 1px solid transparent;
    border-radius: 2em;
    margin-left: 10px
}
.hidden {
    display: none !important;
}
.header-logo {
    width: 100px;
    display: block;
    max-height: 100px;
}
.logo-container {
    justify-content: center;
    height: 130px;
    position: relative;
    width:100%;
    max-width: 100px;

    img {
        display:block;
    }
    .logo-edit-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        opacity:0;
        border: 1px solid black;
    }
}

.logo-container:hover .logo-edit-button {
    opacity: 1;
}

.logo-container:before {
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    top:0;left:0;right:0;
    background-color:rgba(0,0,0,0);
}
.logo-container:hover {
    img {
        opacity: 0.1;
    }
}
.resource-description {
    color: rgb(107,115,125);
    margin-bottom: 8px;
}
.pin-icon {
    &.pinned {
        transform: none;
    }
    transform: rotate(45deg);
}
.pinned-item-icon {
    margin-right: 0 !important;
}
.pinned-item-action {
    margin-top: 0px !important;
    margin-right: 0px !important;
}
.pinned-item {
    height: 160px;
    min-height: 160px;
    border: 1px solid lightgray;
    border-radius: 4px;
    .pinned-item-header {
        display: flex;
        align-items: center;
        span.icon {
            display: flex;
        }
    }

    .pinned-item-header, .pinned-item-content, .pinned-item-tags {
        padding: 0 5px;
    }

    span {
        padding: 5px;
    }
    .pinned-item-name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
.diff-red {
    background-color: rgba(232, 217, 218, 0.5);
}
.diff-green {
    background-color: rgb(231, 255, 238);
}
.border-primary {
    border: 1px solid rgb(51, 115, 170);
}
.diff-row {
    table tbody tr td:nth-child(odd) {
        display: none;
    }
    table tbody tr {
        td pre span {
            padding: 0px;
        }
        td:nth-child(4) {
            padding-left: 16px;
            background: #fff;
            pre {
                background: #e6ffed;
            }
        }
    }
}
.custom-drawer {
    &.large {
        width: 75%;
    }
    &.medium {
        width: 50%;
        min-width: 50%;
    }
}
.divider {
    width: 100%;
    border-bottom: 1px solid lightgray;
    line-height: 0.1em;
    margin: 15px 0;
    padding-left: 7px;
    .text {
        background: #fff;
        padding: 0 8px;
    }
}
.multi-auto-select {
    div[role=button] {
        width: unset !important;
        min-width: unset !important;
    }
}
.byte-size {
    font-size: 12px;
    color: gray;
    font-style: italic;
}
td.xxsmall {
    max-width: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
}
td.xsmall {
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}
td.small {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}
td.medium {
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
}
td.large {
    max-width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.rte-editor {
    min-height: 200px;
    .public-DraftEditor-content {
        min-height: 110px;
    }
}
.form-subheading {
    margin: 8px 0 0;
}
a:focus {
    outline: unset !important;
    outline-offset: none !important;
}
table.nested-mappings {
    td {
        font-size: 0.75rem;
        padding: 2px;
        padding-left: 5px;
    }
}

.source-bg {
    background-color: rgb(92, 184, 92) !important;
}
.collection-bg {
    background-color: rgb(92, 184, 92) !important;
}
.org-bg {
    background-color: rgb(253, 164, 41) !important;
}
.user-bg {
    background-color: rgb(253, 164, 41) !important;
}

.ql-tooltip {   //rich-text-editor - react-quill
    left: 0 !important;
}
.ql-editor {
    min-height: 80px;
}
.password-strength {
    div {
        height: 5px !important;
    }
}
.primary-btn:hover {
    color: #fff !important;
    text-decoration: none !important;
}
.primary-btn {
    color: #fff !important;
    text-decoration: none !important;
}
.btn:hover {
    color: unset !important;
    text-decoration: none !important;
}
.btn {
    text-decoration: none !important;
}
.btn:focus {
    color: unset !important;
}
.version-button-controls-container {
    text-align: right;
    padding-left: 2px;
    button, a {
        margin-right: 3px;
    }
    button:last-child {
        margin-right: 0px;
    }
}
footer.footer-container {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: #fff;
    color: #000;
    height: 50px;
    padding: 15px;
    justify-content: flex-end;
    .footer-company {
        padding: 0 2px
    }
}
.pagination-center {
    padding: 6px !important;
}
.menu-collapsed-paper {
    min-height: 100%;
    height: auto;
    overflow: auto;
    width: 60px;
}
.user-info-icon {
    background: rgb(51, 115, 170) !important;
    font-size: 1.2rem !important;
    font-weight: 300 !important;
    color: #fff !important;
    width: 52px;

    &:hover {
        background: rgb(51, 115, 170) !important;
    }
}

.menu-popper-right {
    top: 55px !important;
}
div.list-item-text-bold-primary {
    span {
        font-weight: bold;
    }
}
.manage-account-chip {
    background-color: white !important;
    border: 1px solid lightgray !important;
    &:hover {
        background-color: rgba(51, 115, 170, 0.1) !important;
    }
}
.user-option-list-item {
    padding: 12px 33px;
    cursor: pointer;
    &:hover {
        background-color: rgba(51, 115, 170, 0.1) !important;
    }
    .list-item-text {
        span {
            font-size: 14px;
            font-weight: bold;
        }
        p {
            font-size: 12px;
        }
    }
}
.user-img-medium {
    width: 80px;
    height: 80px;
    border: 1px solid lightgray;
    border-radius: 50%;
}

.user-img-small {
    width: 45px;
    height: 45px;
    border: 1px solid lightgray;
    border-radius: 50%;
}
div.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 500px;
    hr {
        height: 50px;
        background-color: rgba(0, 0, 0, 0.4);
    }
    h1 {
        display: inline-block;
        margin: 0;
        padding: 10px 15px 10px 0;
        font-size: 24px;
        font-weight: 500;
        vertical-align: top;
    }
    div.not-found-text {
        padding-left: 15px;
        display: inline-block;
        text-align: left;
        line-height: 49px;
        height: 49px;
        vertical-align: middle;
        h2 {
            font-size: 14px;
            font-weight: normal;
            line-height: inherit;
            margin: 0;
            padding: 0;
        }
    }
}
.underline-text:hover {
    text-decoration: underline;
}
div.feedback-div {
    a {
        padding: 16px 0;
        margin-left: -3px;
    }
    a:hover {
        color: initial;
    }
    svg {
        color: rgba(0, 0, 0, 0.54);
    }
    a:focus {
        color: initial;
        text-decoration: unset !important
    }
}
div.feedback-div-open {
    a {
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 16px;
    }
    a:hover {
        color: initial;
    }
    a:focus {
        color: initial;
        text-decoration: unset !important
    }
    svg {
        color: rgba(0, 0, 0, 0.54);
        margin-right: 10px;
    }
    span.nav-text {
        text-transform: capitalize;
        font-size: 1rem;
    }
}

.no-border {
    border: none !important;
}

.error-chip {
    color: rgb(244,67,54) !important;
    &:focus, &:hover {
        background-color: transparent !important;
    }
}
.collapsed-error-details {
    background-color: rgba(244,67,54, 0.1);
    padding: 10px;
    border-radius: 4px;
}
.search-attribute-menu-button {
    height: 44px;
    background-color: rgba(51, 115, 170, 0.04);
}
#results-chip {
    border: none;
    color: #000;
    opacity: 1;
}
