.search-input input {
    height: 0.3em;
}

.brand {
    font-size: 2rem !important;
    font-weight: bold !important;
}

.search-resources {
    .active {
        background-color: rgb(51, 115, 170);
        color: #FFF;
    }
    th {
        padding: 8px;
        cursor: pointer;
    }
}

.no-anchor-styles {
    color: inherit;
}
.no-anchor-styles:hover, .no-anchor-styles:focus {
    color: inherit;
    text-decoration: none;
}

.no-side-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-left-padding {
    padding-left: 0 !important;
}

.no-right-padding {
    padding-right: 0 !important;
}

span.resource-label {
    height: 25px;
    padding: 0 4px;
    color: #666;
    background-color: #eee;
    font-weight: 200;
    letter-spacing: -0.1pt;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em 0 0 .25em;
    font-size: 13px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    span {
        padding: 0 2px;
    }
    &.resource-id {
        background-color: rgb(51, 115, 170);
        color: #fff;
        border-radius: 0 .25em .25em 0;
    }
    .resource-name {
        font-weight: bold;
        color: #000;
    }
}
div.resource-attributes {
    font-size: 13px;
    margin: 4px 0;
    span.resource-attr {
        font-weight: 300;
        font-style: italic;
    }
    span {
        margin-right: 2px;
        &.resource-value {
            margin-right: 5px;
        }
    }
}
div.resource-metadata {
    color: #777;
    display: inline-flex;
    font-size: 8pt;
}
.pagination ul {
    display: inline-flex;
}

.search-results {
    table {
        thead th {
            font-weight: bold;
            padding: 6px;
            font-size: 13px;
        }
        tbody td {
            padding: 6px;
            font-size: 13px;
        }
    }
}
td.pagination-center {
    ul {
        display: inline-flex;
    }
}
.table-sort-label-white {
    svg {
        color: #FFF !important;
    }
}
.flex-vertical-center {
    display: inline-flex;
    align-items: center;
}
.ellipsis-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 500px;
}
.gray-italics-small {
    color: gray;
    font-style: italic;
    margin-right: 5px;
    font-size: 12px;
}
.italic {
    font-style: italic;
}
.home-icon {
    width: 48px;
    color: #e5e5e5;
    cursor: pointer;
    &.concept {
        color: rgb(51, 115, 170)
    }
    &.mapping {
        color: rgb(51, 115, 170)
    }
    &.source {
        color: rgb(92, 184, 92);
    }
    svg {
        font-size: 32pt;
        width: 48px;
        height: 48px;
    }
}
.home-header {
    background-color: rgb(252,252,252);
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
    span.separator {
        font-size: 18pt;
        padding: 0 10px
    }
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.sub-tab {

    span[class^="TabIndicator-root"] {
        display: none;
    }

    &-header {
        margin-left: -1px;

        button,a {
            background: #fff;
            opacity: 1;
            margin-right: 8px;
            border-radius: 6px 6px 0 0;
            text-transform: capitalize;
            border: 1px solid #e0e0e0;
            span {
                font-size: 1.150rem;
            }
        }

        a[aria-selected="true"],button[aria-selected="true"]{
            border-bottom: 1px solid #fff;

            & span {
                font-weight: bold;
            }
        }
        a:hover,a:focus {
            text-decoration: none !important;
            color: inherit !important;
        }
    }

    &-container {
        background: #fff;
        padding: 10px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
        border-radius: 0 0 4px 4px;
    }
}

.light-gray-bg {
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%) !important;
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8)) !important;
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0) !important;
    background-repeat: repeat-x !important;
    color: #000 !important;
}
div.bottom-fixed-center {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    background: white;
    border-top: 1px solid lightgray;
}
.retired {
    text-decoration: line-through;
    color: red;
    text-decoration-color: black;
}
.text-muted {
    color: #777;
}
.small {
    font-size: 85%;
}

.this-concept {
    padding: 0 15px !important;
    font-weight: 500;
}

.home-resource-full-name {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 7px;
}
.clickable {
    cursor: pointer;
}
.search-resources {
    background-color: rgb(238,238,238);
    padding: 10px;
    border-radius: 5px;
}
