.file-uploader-main-container {
    padding: 16px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 3px;
    width: 100%;
    display: inline-block;
    .file-uploader-container {
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
        .dropzone {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            border-width: 2px;
            border-radius: 2px;
            border-color: #eeeeee;
            border-style: dashed;
            background-color: #fafafa;
            color: #bdbdbd;
            outline: none;
            transition: border .24s ease-in-out;
        }
    }
}
